@media(min-width: 200px){
  body{
    background-image: url(images/Background-White.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    display: block;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 50%;
    margin: auto;
  }
  .background h3{
    color: white;
    font-size: x-large;
  }
}
@media(min-width: 577px){
  body{
    background-image: url(images/Background-White.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 50%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 768px){
  body{
    background-image: url(images/Background-White.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 992px){
  body{
    background-image: url(images/Background-White.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 1200px){
  body{
    background-image: url(images/Background-White.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}