@media(max-width: 576px){
  body{
    background-image: url(images/punk-background-small.jpg);
    background-size: cover;
    display: block;
    background-position: center;
    size: 150vh;
  }  
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    justify-content: center;
  }
  .background{
    justify-content: center;
    text-align: center;
    font-size: medium;
    width: 60%;
    margin: auto;
    display: flex;
    padding-top: 30%;
    padding-bottom: 15%;
  }
  .background h3{
    color: white;
    font-size: large;
  }
}
@media(min-width: 577px){
  body{
    background-image: url(images/punk-background.jpg);
  }  
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 50%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 768px){
  body{
    background-image: url(images/punk-background.jpg);
  }  
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 300px;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 992px){
  body{
    background-image: url(images/punk-background.jpg);
  }  
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}
@media(min-width: 1200px){
  body{
    background-image: url(images/punk-background.jpg);
  }
  h3{
    text-align: center;
  }
  .board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
  }
  .background{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 20%;
    margin: auto;
  }
  .background h3{
    color: white;
  }
}